/*
		_main.scss	
*/

/*
											--- Variables ---
*/

$color_1: #a30202; // КРОВАВЫЙ
$color_2: #191970;
$color_3: #fcdbee;// СВЕТЛО СИНИЙ
$color_4: #e31f24;//red

$font-family-1: "Open Sans Condensed", sans-serif;
$font-family-2: "Open Sans";
//$font-family-3: "EseninscriptTwo";
$color_scroll: $color_1;
$color_footer: #0071BC;

$color_gray_1: #373435;
$color_gray_2: #F1F1F1;
$color_gray_3: #AEAEAE;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
@mixin modal-center($width, $height) {
	width: $width;
   height: $height;
   margin-left: -+($width/2);
   margin-top: -+($height/2);
  left: 50%;
	top: 50%;
}

@mixin img-circle($width, $height, $mwidth: 120%) {
	.img-circle{
		position: relative;
		overflow: hidden;
		img{
			max-width: $mwidth;
		}
		width: $width;
		height: $height;
	}
}

@mixin inline-ble($width, $mwidth ) {
	figure{	
		width: $width;
		margin-right: $mwidth;
	}
}
@mixin table-celling($height) {

	display: table-cell;
	height: $height;
	//padding-left: $padding;
	//padding-right: $padding;
	vertical-align: middle;

}

/*
									 --- BOOTSTRAP ---
*/

.panel-default{
	//background-color: $color_3;
	*, &{
		//border: 0 ;
		//border-color: $color_1;
		border-radius: 0 !important;
	}
	.panel-heading{
		//background-color: $color_2;
		background-color: transparent;

		padding: 0;
		.panel-title{
			text-transform: initial;
			a{
				display: inline-block;
				width: 80%;
				padding: 15px;
			}
			i, span{
				display: inline-block;
				width: 5%;
				font-size: em(20, 16);
				vertical-align: middle;
				//float: right;
			}
			span{
				font-size: 1em;
			}
		}
	}
	.panel-body{
		padding: 15px 30px;
	}
	li{
		margin: 15px 0;
	}
}







//////////////////////
/*
									 --- HTML ---
*/



 /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
 		clip-path: url("#clip-shape"); */

//Scrolling

::-webkit-scrollbar{
	width:5px;
}
 ::-webkit-scrollbar-thumb{
 	border-radius: 5px;
 	z-index: 500;
	background-color: lighten($color_scroll, 0%);
}
::-webkit-scrollbar-thumb:hover{
	background-color: darken($color_scroll, 5%);
} 
::-webkit-scrollbar-thumb:active{
	background-color: darken($color_scroll, 10%);
}
::-webkit-scrollbar-track-piece{
	background-color: white;
}
// OPERA
::-o-scrollbar{
	width:5px;
}
::-o-scrollbar-thumb{
	z-index: 500;
	border-radius: 5px;
	background-color: lighten($color_scroll, 5%);
}
::-o-scrollbar-thumb:hover{
	background-color: darken($color_scroll, 5%);
} 
::-o-scrollbar-thumb:active{
	background-color: darken($color_scroll, 10%);
}
::-o-scrollbar-track-piece{
	background-color: rgba(white, 0.5);
}
::selection {
    background: $color_1;
    color: #fff;
    text-shadow: none;
 }
html{
	-ms-scrollbar-track-color: rgba(0, 0, 0, 0);
	-ms-scrollbar-face-color: $color_scroll;
	-ms-scrollbar-shadow-color: $color_scroll;
	-ms-scrollbar-base-color: lighten($color_scroll, 5%);

	-ms-scroll-translation: vertical-to-horizontal;
	-ms-scroll-snap-type: mandatory;
	-ms-scrollbar-3dlight-color: $color_scroll;
	-ms-scrollbar-darkshadow-color: darken($color_scroll, 5%);
	-ms-scrollbar-highlight-color: transparent;
}

body{
	//overflow-y: hidden;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	background-color: black;
	font: 15px $font-family-1;
}




.bg-cover{
	position: relative;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.color-white{
	color: white;
}
.color-black{
	color: black;
}


.color-1{
	color: $color_1;
}
.color-2{
	color: $color_2;
}
.color-3{
	color: $color_3;
}
.color-4{
	color: $color_4;
}


.font-family-1{
	font-family: $font-family-1;
}
.font-family-2{
	font-family: $font-family-2;
}

.bg-color-white{
	background-color: white;
}
.bg-color-black{
	background-color: #333;
}
.bg-color-gray{
	background-color: $color_gray_2;
}

.bg-color-1{
	background-color: $color_1;
}
.bg-color-2{
	background-color: $color_2;
}
.bg-color-3{
	background-color: $color_3;
}
.bg-color-4{
	background-color: $color_4;
}




.claf{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.btn-res{
	background: transparent;
	border: 0;
	padding: 0;
}







.text-style-1{
	text-transform: uppercase;
	font-weight: 600;
	color: $color_1;
}








[class*="inlineble"]{
	max-width: 100%;
	text-align: center;
 *{
		text-align: initial;
	}
	figure{
		
		display: inline-block;
		display: inline-table;
	}
	.img-content, .desc-content.align-center{
		
		&, *{
			text-align: center;
		}
	}
	font{
		margin-top: 5px;
		color: #888;
		display: block;
		font-weight: 300;
		font-size: em(15, 16);
	}
}


.inlineble-2{
	@include inline-ble(90/2+%, 2+%);
	figure{
		margin-right: 1%;
		margin-left: 1%;
	}
}

.inlineble-3{
	@include inline-ble(100/3+%, 3+%);
	figure{
		margin-right: 2%;
		margin-left: 2%;
	}
}

.inlineble-4{
	@include inline-ble(20+%, 3.5+%);
}

.inlineble-5{
	@include inline-ble(96/5+%, 10/20+%);
}

.inlineble-6{
	@include inline-ble(96/6+%, 1+%);
}

.inlineble-7{
	@include inline-ble(96/7+%, 10/20+%);
}



@media only screen and ( max-width: 991px ){



}

@media only screen and ( max-width: 787px ){



}



//LISTING

.list-style-2{

	ul{
		padding-left: 15px;
		position: relative;
		margin-top: 15px;
		li{
			padding: 0 15px;
			padding-top: 15px;
			font-style: oblique;
			font-weight: 600;
			list-style: none;
			list-style-position: outside;
			list-style-image: url('../img/icons/list-icon.png');
		}
	}

}


[class*='list-style']{
	ul{
		padding: 0 15px;
		margin: 15px 0;
		li{
			margin: 0 15px;
			font-size: 1em;
			list-style: disc;
			line-height: 170%;
			list-style-position: outside;
		}
	}
}

.list-style-1{

	ul{

		li{
			font-weight: 500;
			//font-weight: 600;
			list-style: circle;
		}
	}

}








/*
										 --- HEADER ---
*/
.header-top-height{
	@include table-celling(100px);
}
.header-social{
	text-align: center;
}
.header-logo{
	width: 25%;
	text-align: left;
}
.header-contacts{
	text-align: right;
	width: 60%;
	i{
		margin-right: 10px;
	}
}
.header-bar{
	//text-align: center;
	*{
		color: white;
	}
	ul{
		margin: 0;
	}
	li{
		//width: 30%;
		display: inline-block;
	}
	.contacts-list{
		li{
			//width: 33%;
		}
	}
}



.navbar-header{
	@media only screen and ( min-width: 992px ){width: 30%;}
}




.menu{
	text-align: center;
}

















// PRELODER
.preloader{

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999000;
  background: black;
  opacity: 1;
  margin: auto;
  //transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

	.loader{
		transform: scale(0.5);
		span{
			text-align: center;
			display: block;
		}
		.img-content{
			position: relative;
			width: 350px;
			padding-bottom: 35px;
			//display: none;
		}
		.percent{
			font-size: 33px;
			margin-top: 12vh;
			padding-left: 10px;
		}
		svg{
			width: 450px;
			height: 450px;
			left: 50%;
			top: 50%;
			margin-top: -225px;
			margin-left: -225px;
			circle{
				transition: all 0.225s ease-in-out;
				stroke-dashoffset: 0;
				stroke-dasharray: 0;
				fill: transparent;
				stroke: white;
				stroke-width: 0px;
				r: 200;
				cx: 225;
				cy: 225;
			}
			position: absolute;
		}
	}

}










/*
										 --- CONTENT ---
*/



.flex-box{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	.box{
		display: block;
		//text-align: center;
		justify-content: center;
		align-items: center;
		//display: flex;
		flex: 4 4;

	}
	@media only screen and ( min-width: 1200px ){
		.box{
			flex-basis: 20%;
		}
	}
	@media only screen and ( max-width: 1199px ){
		.box{
			flex-basis: 20%;
		}
	}
	@media only screen and ( max-width: 991px ){
		.box{
			flex-basis: 50%;
		}
	}

	@media only screen and ( max-width: 767px ){
		.box{
			flex-basis: 100%;
		}
	}

}
.flex-center{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}


.img-hover{
	img{
		transition: all 0.25s ease-in-out;
		filter: brightness(95%);
		&:hover, &:focus{
			filter: brightness(110%);
		}
	}
}



.icomoon{
	font-size: 2em;
	vertical-align: middle;
}


.font-f-permanent{
	color: white;
	font-family: "Permanent Marker";
}
.font-f-poiret{
	font-family: "Poiret One";
	i{
		color: $color_1;
	}
}

//--------------------------INDEX



.index-slider{
	  z-index: 1;
    position: relative;
}
//INDEX SLIDER
.fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
	height: 100%;
}
.bannercontainer {
	width:100%;
	position:relative;
	padding:0;
}
 
.banner{
	width:100%;
	position:relative;
}

.tp-rightarrow.default, .tp-leftarrow.default{
	background: rgba(#4c4c4c, 0.8) ;

	transition: all 0.3s ease-out;
	&:hover{
		background: rgba(#4c4c4c, 1) ;
	}
}
.rev-slider{

	//text-shadow: 0 0 3px black;

	.slide-header{
		//padding: 35px 50px;
		border-radius: 15px;
		color: white;
		text-align: center;
		h1, h3{
			color: white;
		}

		h1{
			position: relative;
			margin: 0;
			font-size: em(80, 16);
			font-weight: 700;
			letter-spacing: 3px;
		}
		h3{
			position: relative;
			margin: 0;
			font-size: em(30, 16);
			font-weight: 600;
			letter-spacing: 3px;
		}

		p{
			position: relative;
			font-family: $font-family-2;
			text-transform: uppercase;
			font-size: em(26, 16);
			margin-top: 15px;
		}
		.btn-default{
			a{
				color: black;
			}
		}

	}


	@media only screen and (max-width: 767px){

	}
}//end




















/*
										 --- FOOTER ---
*/






/*
										 --- OTHER ---
*/






















@import "_media.scss"; //------ 	END 	------------------------